
#msg-board
  .row-fluid
    #board-holder
      .span7
        h1 'Allo, 'Allo
        #dream.well.well-small
        //
          dl
            dt dreams:
            dd live forever
            dd always fly first-class
            dd never work more than 30h per week
      .span1
      #vendors.span2
        a(target="_blank", href="http://gogrid.com/")
          img#logo-gogrid(src='../img/gogrid.png')
        a(target="_blank", href="http://nodejs.org/")
          img#logo-node(src='../img/node.png')
        a(target="_blank", href="http://yeoman.io/")
          img#logo-yo(src='../img/yo.png')
        a(target="_blank", href="http://angularjs.org/")
          img#logo-ng(src='../img/ng.png')
        a(target="_blank", href="http://redis.io/")
          img#logo-redis(src='../img/redis.png')

