
#msg-board
  .row-fluid
    #board-holder
      .span7
        h1 'Allo, 'Allo
        #dream.well.well-smal
          dl
            dt This demo was built with:
            dd 
              a(target="_blank", href="http://twitter.github.io/bootstrap/")
                <strong>
                |twitter bootstrap
                </strong>
            dd 
              a(target="_blank", href="http://lesscss.org/")
                <strong>
                |less
                </strong>
              |CSS template engine
            dd 
              a(target="_blank", href="http://jade-lang.com/")
                <strong>
                |jade
                </strong>
              |HTML template engine
            dd and several
              a(target="_blank", href="http://nodejs.org/")
                <strong>
                |nodejs
                </strong>
              |modules
        //
          dl
            dt dreams:
            dd live forever
            dd always fly first-class
            dd never work more than 30h per week :)
      .span1
      #vendors.span2
        h5.text-center main tech used:

        a(target="_blank", href="http://gogrid.com/")
          img#logo-gogrid(src='../img/gogrid.png')
        a(target="_blank", href="http://nodejs.org/")
          img#logo-node(src='../img/node.png')
        a(target="_blank", href="http://yeoman.io/")
          img#logo-yo(src='../img/yo.png')
        a(target="_blank", href="http://angularjs.org/")
          img#logo-ng(src='../img/ng.png')
        a(target="_blank", href="http://redis.io/")
          img#logo-redis(src='../img/redis.png')

