.navbar(bs-navbar) 
  .navbar-inner
    a.brand(href="#")
      i.icon-glass
    ul.nav
      li(data-match-route="/") 
        a(href='/')
          i.icon-fire
      li(data-match-route="/leaf")
        a(href='/leaf')
          i.icon-leaf
      li(data-match-route="/pin")
        a(href='/pin')
          i.icon-map-marker


