include ../partials/navbar

include ../partials/msg-board

#main-container
  #countries.span1(ng-controller="CountriesCtrl")
    include ../partials/countries
  #tweets.span8
    include ../partials/tweets
  #cities.span3(ng-controller="CitiesCtrl")
    include ../partials/cities


